spring:
  config:
    activate:
      on-profile: prod
  cloud:
    config:
      server:
        git:
          uri: ${GIT_URI}
          username: ${GIT_USERNAME}
          password: ${GIT_PASSWORD}
          default-label: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"

logging:
  level:
    root: WARN
    es.vargontoc: INFO
