server:
  port: 8761

spring:
  application:
    name: infrastructure-server
  profiles:
    active: ${ActiveProfile:dev} 
    group:
      dev: dev,native
      prod: prod
  security:
    user:
      name: ${CONFIG_SERVER_USERNAME}
      password: ${CONFIG_SERVER_PASSWORD}

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

