spring:
  application:
    name: gateway-server
  config:
    import: optional:configserver:http://admin:password@localhost:8761
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
